.meter {
  width: 100%;
  height: 100%;

  .inner-scale,
  .outer-scale {
    position: absolute;

    &::before, &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 50%, 0 80%);
    }
  }

  @for $i from 0 through 22 {
    .position-#{$i * 10} {
      transform: rotateZ(10deg * $i - 110deg);
    }

    .inner-scale .position-#{$i * 10}::after {
      content: "#{$i * 10}";
      transform: rotateZ(-10deg * $i + 110deg) translateY(50%);
    }
  }

  .inner-scale {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;

    &::before {
      border: solid .8vw #dae9ff;
    }

    .scale {
      position: absolute;
      height: calc(100% + .2vw);
      top: -.1vw;
      width: .1vw;
      left: calc(50% - .05vw);
      background: linear-gradient(to bottom, #4477cc 1.2vw, transparent 1.2vw);

      &::after {
        position: absolute;
        font-size: 1vw;
        color: #dddddd;
        top: 2vw;
        left: -.7vw;
        width: 1.4vw;
        height: 0;
        line-height: 0;
      }
    }

    &::after {
      width: 32%;
      height: 32%;
      left: 34%;
      top: 34%;
      border: solid .5vw #dae9ff;
    }
  }

  .outer-scale {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::before {
      border: solid .8vw #a6a6a6;
    }


    .scale, .start, .end {
      position: absolute;
      width: .8vw;
      left: calc(50% - .4vw);
      background-color: #c0c0c0;
    }

    .scale {
      height: 102%;
      top: -.4%;
      border-radius: .4vw;
      clip-path: polygon(0 0,.8vw 0, .8vw .8vw, 0.4vw 1.6vw, 0 .8vw);
    }

    .start, .end {
      content: "";
      height: 100%;
      background-color: #4477cc;
      clip-path: polygon(0 0, .8vw 0, .8vw .8vw, 0 .8vw);
    }

    .start {
      transform: rotateZ(-120deg);
    }

    .end {
      transform: rotateZ(120deg);
    }
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateZ(-110deg);

    .center {
      position: absolute;
      top: 44%;
      left: 44%;
      width: 12%;
      height: 12%;
      border-radius: 50%;
      background-color: #606060;
    }

    .outer, .root, .middle, .end {
      position: absolute;
      left: 49%;
      width: 2%;
      height: 100%;
    }

    .outer {
      left: 47%;
      width: 6%;
      background-color: #60a0e0;
      clip-path: polygon(0 50%, 20% 8%, 80% 8%, 100% 50%, 85% 50%, 65% 9%, 35% 9%, 15% 50%);
    }

    .root {
      background-color: #c0c0c0;
      clip-path: polygon(0 48%, 100% 48%, 100% 60%, 0 60%);
    }

    .middle {
      background-color: #a0a0a080;
      clip-path: polygon(0 42%, 100% 42%, 100% 48%, 0 48%);
    }

    .end {
      background-color: #60a0e0;
      clip-path: polygon(25% 8%, 75% 8%, 100% 42%, 0 42%);
    }
  }

  .label {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #888888;

    #name {
      position: absolute;
      text-decoration: underline;
      width: 100%;
      left: 0%;
      top: 25%;
      font-size: 1.2vw;
    }
  }

  &:not(.loaded) {
    .outer-scale::before,
    .outer-scale::after,
    .inner-scale::before,
    .inner-scale::after,
    .outer-scale .start,
    .outer-scale .end,
    .label, .indicator {
      opacity: 0;
    }

    @for $i from 0 through 22 {
      .position-#{$i * 10}, .position-#{$i * 10}::after {
        opacity: 0;
      }
    }
  }

  &.loaded:not(.ready) {
    .outer-scale::before,
    .inner-scale::before,
    .outer-scale .start,
    .outer-scale .end {
      transition: opacity 1s ease 0s;
      opacity: 1;
    }

    .indicator, .label,
    .inner-scale::after {
      transition: opacity 0.5s ease 1.8s;
      opacity: 1;
    }

    @for $i from 0 through 22 {
      .position-#{$i * 10}, .position-#{$i * 10}::after {
        transition: opacity 0.5s ease #{$i * 0.05 + 0.2}s;
        opacity: 1;
      }
    }
  }
}
