body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  position: absolute;
}

.logo-center {
  display: flex;
  align-items: center;
  height: 40vw;
  width: 40vw;
  position: absolute;
  left: 30vw;

  svg {
    fill: #767676;
    width: 80%;
    position: absolute;
    left: 10%;
    animation: engine ease 1s infinite;
  }

  &::before, &::after {
    background-color: #767676;
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
  }

  &::before {
    animation: wait1 ease 2s infinite;
  }

  &::after {
    animation: wait2 ease 2s infinite;
  }
}

@keyframes engine {
  0% {
    transform: rotateZ(0deg);
  }

  10% {
    transform: rotateZ(5deg);
  }

  20% {
    transform: rotateZ(-5deg);
  }

  30% {
    transform: rotateZ(0deg);
  }
}

@keyframes wait1 {
  0% {
    top: 0%;
    left: 0%;
    border-radius: 0%;
    transform: rotateZ(0deg);
  }

  25% {
    top: 0%;
    left: 80%;
    border-radius: 50%;
    transform: rotateZ(180deg);
  }

  50% {
    top: 80%;
    left: 0%;
    border-radius: 0%;
    transform: rotateZ(0deg);
  }

  75% {
    top: 80%;
    left: 80%;
    border-radius: 50%;
    transform: rotateZ(-180deg);
  }

  100% {
    top: 0%;
    left: 0%;
    border-radius: 0%;
    transform: rotateZ(0deg);
  }
}


@keyframes wait2 {

  0% {
    top: 80%;
    left: 80%;
    border-radius: 0%;
    transform: rotateZ(-180deg);
  }

  25% {
    top: 80%;
    left: 0%;
    border-radius: 50%;
    transform: rotateZ(0deg);
  }

  50% {
    top: 0%;
    left: 80%;
    border-radius: 0%;
    transform: rotateZ(180deg);
  }

  75% {
    top: 0%;
    left: 0%;
    border-radius: 50%;
    transform: rotateZ(0deg);
  }

  100% {
    top: 80%;
    left: 80%;
    border-radius: 0%;
    transform: rotateZ(-180deg);
  }
}
