<div class="meter" [ngClass]="{ 'loaded' : isLoaded, 'ready': isReady }">
  <div class="inner-scale">
    <span class="limit"></span>
    <span class="scale position-0"></span>
    <span class="scale position-1"></span>
    <span class="scale position-2"></span>
    <span class="scale position-3"></span>
    <span class="scale position-4"></span>
    <span class="scale position-5"></span>
    <span class="scale position-6"></span>
  </div>
  <div class="outer-scale">
    <span class="start"></span>
    <span class="scale position-0"></span>
    <span class="scale position-1"></span>
    <span class="scale position-2"></span>
    <span class="scale position-3"></span>
    <span class="scale position-4"></span>
    <span class="scale position-5"></span>
    <span class="scale position-6"></span>
    <span class="end"></span>
  </div>
  <div class="label">
    <label id="name">rpm<span>(x1000)</span></label>
  </div>
  <div class="indicator" id="tachoindicator">
    <span class="outer"></span>
    <span class="center"></span>
    <span class="root"></span>
    <span class="middle"></span>
    <span class="end"></span>
  </div>
  <span class="corners"></span>
</div>
