.accelbox {
  width: 100%;
  height: 100%;

  .point {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    #accelpoint {
      position: absolute;
      background-color: #60a0e0;
      width: 1vw;
      height: 1vw;
      margin-top: -.5vw;
      margin-left: -.5vw;
      transform: rotateZ(45deg);
      transition: 0.1s ease;
      left: 50%;
      top: 50%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid .8vw #a6a6a6;
  }

  .center {
    position: absolute;
    width: 100%;
    height: 100%;

    .center-x,
    .center-y {
      border-radius: 1vw;
      position: absolute;
      width: 102%;
      height: 5%;
      top: 47.5%;
      left: -1%;
      background-color: #c0c0c0;
      clip-path: polygon(0 0, 5% 0, 10% 50%, 90% 50%, 95% 0, 100% 0, 100% 100%, 95% 100%, 90% 50%, 10% 50%, 5% 100%, 0 100%);

      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: .8vw;
      }

      &::after {
        transform: rotateZ(180deg);
      }
    }

    .center-y {
      transform: rotateZ(90deg);
    }

    .center-line-x,
    .center-line-y {
      position: absolute;
      width: 100%;
      height: 5%;
      top: calc(50% - 2.5%);
      background: linear-gradient(to left, transparent 10%, #dae9ff 10% 40%, transparent 40% 60%, #dae9ff 60% 90%, transparent 90%);

      &::before {
        content: "";
        position: absolute;
        top: -.1vw;
        display: block;
        width: 100%;
        height: 1vw;
        background-repeat: repeat-x;
        background-size: 10% 1vw;
        background-image: linear-gradient(to right, #4477cc 3%, transparent 4% 96%, #4477cc 97%);
        clip-path: polygon(5% 0,5% 100%, 40% 100%,45% 0, 55% 0, 60% 100%, 95% 100%, 95% 0);
      }
    }

    .center-line-y {
      transform: rotateZ(90deg);
    }
  }

  .corners {
    position: absolute;
    width: 100%;
    height: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: .8vw;
      width: 100%;
      border-left: solid .8vw #4477cc;
      border-right: solid .8vw #4477cc;
    }

    &::after {
      top: calc(100% - .8vw);
    }
  }

  &:not(.loaded) {
    opacity: 0;

    .center-x,
    .center-y,
    .center-line-x::before,
    .center-line-y::before,
    #accelpoint {
      opacity: 0;
    }

    .center-line-x,
    .center-line-y {
      clip-path: polygon(50% -50%, 50% 150%, 50% 150%, 50% -50%);
    }
  }

  &.loaded:not(.ready) {
    transition: opacity 1s ease 0s;
    opacity: 1;

    .center-x,
    .center-line-x::before {
      transition: opacity 0.5s ease 0.5s;
      opacity: 1;
    }

    .center-y,
    .center-line-y::before {
      transition: opacity 0.5s ease 1.0s;
      opacity: 1;
    }

    #accelpoint {
      transition: opacity 0.5s ease 2s;
      opacity: 1;
    }
  }

  .center-line-x,
  .center-line-y {
    clip-path: polygon(0 -50%, 0 150%, 100% 150%, 100% -50%);
    transition: clip-path 1s ease 1.5s;
  }
}
