<div class="accelbox" [ngClass]="{ 'loaded' : isLoaded, 'ready': isReady }">
  <div class="center">
    <span class="center-line-x"></span>
    <span class="center-line-y"></span>
    <div class="point">
      <span id="accelpoint"></span>
    </div>
    <span class="center-x"></span>
    <span class="center-y"></span>
  </div>
  <span class="corners"></span>
</div>
