<div class="compass" [ngClass]="{ 'loaded' : isLoaded, 'ready': isReady }">
  <div class="center" id="compasscenter">
    <span class="center-x"></span>
    <span class="center-y"></span>
  </div>
  <span id="compasstarget">
    <span></span>
  </span>
</div>
