.compass {
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid .8vw #a6a6a6;
    border-radius: 50%;
  }

  .center {
    height: 100%;

    .center-x,
    .center-y {
      border-radius: 1vw;
      position: absolute;
      width: 104%;
      height: 10%;
      top: 45%;
      left: -2%;
      background-color: #c0c0c0;
      clip-path: polygon(0 0, 10% 0, 20% 50%, 80% 50%, 90% 0, 100% 0, 100% 100%, 90% 100%, 80% 50%, 20% 50%, 10% 100%, 0 100%);

      &::before, &::after {
        position: absolute;
        width: 100%;
        height: 10px;
      }

      &::after {
        transform: rotateZ(180deg);
      }
    }

    .center-y {
      transform: rotateZ(90deg);
      background: linear-gradient(to right, #4477cc 20%, #c0c0c0 20%);
    }
  }

  #compasstarget {
    position: absolute;
    background: linear-gradient(to right, #60a0e0 50%, #606060 50%);
    left: calc(50% - 15%);
    top: 20%;
    width: 30%;
    height: 60%;
    clip-path: polygon(0 90%, 50% 0%, 100% 90%, 50% 75%);
  }

  &:not(.loaded) {
    opacity: 0;

    .center-x,
    .center-y,
    #compasstarget {
      opacity: 0;
    }
  }

  &.loaded:not(.ready) {
    transition: opacity 1s ease 0s;
    opacity: 1;

    .center-x {
      transition: opacity 0.5s ease 0.5s;
      opacity: 1;
    }

    .center-y {
      transition: opacity 0.5s ease 1.0s;
      opacity: 1;
    }

    #compasstarget {
      transition: opacity 0.5s ease 2s;
      opacity: 1;
    }
  }
}
