/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: /**/ "Agency FB Bold", /**/ "Agency FB";
  background-color: #2a2a2a;
  /*/font-weight: bold;/*/
}

@font-face {
  font-family: 'Agency FB Bold';
  src: url('app/fonts/agency_fb_bold.ttf');
}

@font-face {
  font-family: 'icomoon';
  src: url('app/fonts/icomoon.ttf');
}
