<div class="content" [ngClass]="{ 'loaded' : isLoaded, 'ready': isReady }">
  <div class="video-content" [ngClass]="{ 'loaded' : videoReady }">
    <img *ngIf="videoReady" src="live/front.mjpeg" />
  </div>
  <div class="title-box" (click)="changeTitle()">
    <svg class="panel-background" viewBox="0,0,232,52">
      <polyline class="fill" points="0,0 230,0 230,25 205,50 0,50"></polyline>
      <polyline class="border" points="230,0 230,25 205,50 0,50"></polyline>
      <text class="title" x="5" y="20">{{title}}</text>
      <text class="clock" x="5" y="42">{{now | date:'yyyy/MM/dd HH:mm:ss'}}</text>
    </svg>
  </div>
  <debug-control></debug-control>
  <div class="meter-content">
    <svg class="panel-background" viewBox="0,0,700,200">
      <polyline class="border" points="0,5 170,5 200,25 450,25 475,5 700,5"></polyline>
      <polyline class="fill" points="0,5 170,5 200,25 450,25 475,5 700,5 700,200 0,200"></polyline>
    </svg>
    <accelerate-control></accelerate-control>
    <angularvec-control></angularvec-control>
    <compass-control></compass-control>
    <voltages-control></voltages-control>
    <speedmeter-control></speedmeter-control>
    <tachometer-control></tachometer-control>
    <tempertures-control></tempertures-control>
  </div>
  <div class="menu-content">
    <menu-control></menu-control>
  </div>
  <div class="carib-content">
    <carib-control></carib-control>
  </div>
</div>
