$cut: 3.5vw;

.title-box {
  position: fixed;
  width: 30vw;
  top: 0;
  left: 0;

  .panel-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    //margin: -5%;

    text {
      font-size: 20px;
      fill: #dae9ff;

      &.clock {
        letter-spacing: 0.07em;
      }
    }
  }
}

.video-content {
  opacity: 0;

  &.loaded {
    transition: opacity linear 0.5s;
    opacity: 1;
  }

  img {
    max-width: 100%;
    min-width: 100%;
  }

  canvas {
    display: block;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
  }
}




.panel-background {

  .fill {
    fill: #10101080;
    stroke: transparent;
  }

  .border {
    fill: transparent;
    stroke: #000020;
    stroke-width: 3;
  }
}

.debug {
  position: fixed;
  padding: .5vw;
  color: white;
  left: 1vw;
  top: 8vw;
  width: 10vw;
  font-size: .7vw;
  background: #a0000060;
  border: .4vw solid #ff0000;

  p {
    margin: 0;

    span {
      display: block;
      margin-left: .5vw;
    }
  }
}

.meter-content {
  position: fixed;
  bottom: 0px;
  height: 19vw;
  width: 100%;

  accelerate-control {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    width: 16vw;
    height: 16vw;
  }

  angularvec-control {
  }

  compass-control {
    position: fixed;
    bottom: 1vw;
    left: 18vw;
    width: 8vw;
    height: 8vw;
  }

  voltages-control {
    position: fixed;
    bottom: 10vw;
    left: 18vw;
    width: 8vw;
    height: 8vw;
    font-size: 2.5vw;
  }

  tachometer-control {
    position: fixed;
    bottom: -4vw;
    right: 15vw;
    width: 21vw;
    height: 21vw;
  }

  speedmeter-control {
    position: fixed;
    bottom: -4vw;
    right: 1vw;
    width: 21vw;
    height: 21vw;
  }

  tempertures-control {
    position: fixed;
    bottom: 1vw;
    left: 27vw;
    height: 13vw;
    width: 35vw;
  }
}

carib-control {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  pointer-events: none;
}

menu-control {
  position: fixed;
  right: 0;
  top: 0;
  background-color: transparent;
}

.content {

  &:not(.loaded) {
    .debug,
    .title-box,
    .meter-content,
    .menu-content {
      opacity: 0;
    }
  }

  &.loaded {
    .debug,
    .title-box,
    .meter-content,
    .menu-content {
      transition: opacity 0.5s ease 0s;
      opacity: 1;
    }
  }
}

app-vjs-player {
    width: 100%;
    height: 100%;
}

